### 1. Import the needed packages

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
#import arcpy as ap

from mpl_toolkits.basemap import Basemap
from matplotlib.patches import Polygon
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

### 2. Graphics

In [2]:
%matplotlib inline
sns.set()

### 3. Read the data

In [3]:
regions = pd.read_csv("./data/regions.csv",
                      thousands = ",")

In [4]:
regions.head()

,FID,GID,COD_BAIRRO,NOME,COD_BA_IBGE,AREA,M2_RES,M2_COM,M2_SER,M2_IND,...,VA1,VAL_M2_COM,VAL_M2_SER,VAL_M2_TER,VAL_M2_RES,FONTE,ANO_REF,REGIONAL,MUNICIPIO,THE_GEOM
0,Bairros.fid-2be50750_153af4824fe_2bc9,6,88,PASSARE,230440070088,7167306.57,624073.98,155787.41,7857.90,4306.50,...,0.00,2339.57,2606.88,227.87,2424.77,SEFIN/PMF,2015,6,Fortaleza,POLYGON ((-38.539819067859945 -3.7955371068432...
1,Bairros.fid-2be50750_153af4824fe_2bca,21,110,CAIS DO PORTO,230440005110,2562799.52,82298.45,209764.75,1226.91,80588.26,...,300.00,3019.32,1599.36,253.73,2627.39,SEFIN/PMF,2015,2,Fortaleza,POLYGON ((-38.479334495231086 -3.7209126986722...
2,Bairros.fid-2be50750_153af4824fe_2bcb,22,111,CIDADE 2000,230440005111,497197.33,224347.86,36258.14,3588.02,315.30,...,5058781.89,2454.16,2596.93,0.00,2437.00,SEFIN/PMF,2015,2,Fortaleza,POLYGON ((-38.467647506862534 -3.7496832300526...
3,Bairros.fid-2be50750_153af4824fe_2bcc,23,93,ALTO DA BALANCA,230440075093,916449.74,209265.37,73728.61,5882.62,505.85,...,0.00,1843.36,2042.39,232.30,1784.38,SEFIN/PMF,2015,6,Fortaleza,POLYGON ((-38.51716445420212 -3.76997951516616...
4,Bairros.fid-2be50750_153af4824fe_2bcd,17,6,BARRA DO CEARA,230440005006,4240250.82,349881.25,243711.76,7352.28,59991.98,...,0.00,1669.99,1491.65,186.89,1551.97,SEFIN/PMF,2015,1,Fortaleza,POLYGON ((-38.56887758295916 -3.70168935573553...

In [5]:
calls = pd.read_csv("./data/policecalls.csv",
                      thousands = ",")

In [6]:
calls.head()

         date             type      lat      lng
0  2005-01-01  PROPERTY CRIMES -3.73784 -38.5554
1  2005-01-01  PROPERTY CRIMES -3.83914 -38.5606
2  2005-01-01  PROPERTY CRIMES -3.72623 -38.5778
3  2005-01-01  PROPERTY CRIMES -3.79500 -38.5010
4  2005-01-01  PROPERTY CRIMES -3.72222 -38.4813

In [7]:
calls["type"].unique()

array(['PROPERTY CRIMES', 'DISTURBING THE PEACE'], dtype=object)

In [8]:
regions[regions["NOME"] == "MESSEJANA"]["THE_GEOM"]

71    POLYGON ((-38.48339914673369 -3.81778595182948...
Name: THE_GEOM, dtype: object

In [ ]:
#polygon = Polygon(regions[regions["NOME"] == "MESSEJANA"]["THE_GEOM"])

<code>from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

lons_lats_vect = np.column_stack((lons_vect, lats_vect)) # Reshape coordinates
polygon = Polygon(lons_lats_vect) # create polygon
point = Point(y,x) # create point
print(polygon.contains(point)) # check if polygon contains point</code>

In [ ]:
#calls["vector"] = np.column_stack((calls["lng"], calls["lat"]))