### 1. Import the needed packages

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import geopandas as gpd
import seaborn as sns
from geopandas.tools import sjoin
#import arcpy as ap

from mpl_toolkits.basemap import Basemap
from matplotlib.patches import Polygon
from shapely.geometry import Point
from shapely.geometry.polygon import LinearRing, Polygon

### 2. Graphics

In [2]:
%matplotlib inline
sns.set()

### 3. Read the data

In [3]:
regions = pd.read_csv("./data/regions.csv",
                      thousands = ",")

In [4]:
calls = pd.read_csv("./data/policecalls2.csv",
                      thousands = ",")

In [5]:
shp_regions = gpd.read_file("./data/bairrosshape.shp")

In [6]:
shp_regions.head()

                                            geometry
0  POLYGON ((557111.5512800919 9572820.817811906,...
1  POLYGON ((544939.6455280662 9584194.278042048,...
2  POLYGON ((550659.0628261907 9586899.4303114, 5...
3  POLYGON ((560831.4859760788 9579940.937792439,...
4  POLYGON ((545023.2264405567 9583750.344660914,...

### 4. Create Geometry

In [7]:
calls["geometry"] = gpd.GeoDataFrame([Point(x,y) for x, y in zip(calls['lng'], calls['lat'])])

In [8]:
calls = gpd.GeoDataFrame(calls)

In [9]:
regions["geometry"] = gpd.GeoDataFrame(regions["THE_GEOM"])

In [10]:
regions = gpd.GeoDataFrame(regions)

In [12]:
shp_regions.crs = {'init': 'epsg:4326'}
calls.crs = {'init': 'epsg:4326'}
regions.crs = {'init': 'epsg:4326'}

### 5. Visualize data

In [13]:
regions.head()

,FID,GID,COD_BAIRRO,NOME,COD_BA_IBGE,AREA,M2_RES,M2_COM,M2_SER,M2_IND,...,VAL_M2_COM,VAL_M2_SER,VAL_M2_TER,VAL_M2_RES,FONTE,ANO_REF,REGIONAL,MUNICIPIO,THE_GEOM,geometry
0,Bairros.fid-2be50750_153af4824fe_2bc9,6,88,PASSARE,230440070088,7167306.57,624073.98,155787.41,7857.90,4306.50,...,2339.57,2606.88,227.87,2424.77,SEFIN/PMF,2015,6,Fortaleza,POLYGON ((-38.539819067859945 -3.7955371068432...,POLYGON ((-38.539819067859945 -3.7955371068432...
1,Bairros.fid-2be50750_153af4824fe_2bca,21,110,CAIS DO PORTO,230440005110,2562799.52,82298.45,209764.75,1226.91,80588.26,...,3019.32,1599.36,253.73,2627.39,SEFIN/PMF,2015,2,Fortaleza,POLYGON ((-38.479334495231086 -3.7209126986722...,POLYGON ((-38.479334495231086 -3.7209126986722...
2,Bairros.fid-2be50750_153af4824fe_2bcb,22,111,CIDADE 2000,230440005111,497197.33,224347.86,36258.14,3588.02,315.30,...,2454.16,2596.93,0.00,2437.00,SEFIN/PMF,2015,2,Fortaleza,POLYGON ((-38.467647506862534 -3.7496832300526...,POLYGON ((-38.467647506862534 -3.7496832300526...
3,Bairros.fid-2be50750_153af4824fe_2bcc,23,93,ALTO DA BALANCA,230440075093,916449.74,209265.37,73728.61,5882.62,505.85,...,1843.36,2042.39,232.30,1784.38,SEFIN/PMF,2015,6,Fortaleza,POLYGON ((-38.51716445420212 -3.76997951516616...,POLYGON ((-38.51716445420212 -3.76997951516616...
4,Bairros.fid-2be50750_153af4824fe_2bcd,17,6,BARRA DO CEARA,230440005006,4240250.82,349881.25,243711.76,7352.28,59991.98,...,1669.99,1491.65,186.89,1551.97,SEFIN/PMF,2015,1,Fortaleza,POLYGON ((-38.56887758295916 -3.70168935573553...,POLYGON ((-38.56887758295916 -3.70168935573553...

In [14]:
calls.head()

,number,date,type,lat,lng,geometry
0,1,01/01/2005,PROPERTY CRIMES,-373.784,-385.554,POINT (-385.554 -373.784)
1,2,01/01/2005,PROPERTY CRIMES,-383.914,-385.606,POINT (-385.606 -383.914)
2,3,01/01/2005,PROPERTY CRIMES,-372.623,-385.778,POINT (-385.778 -372.623)
3,4,01/01/2005,PROPERTY CRIMES,-3.795,-38.501,POINT (-38.501 -3.795)
4,5,01/01/2005,PROPERTY CRIMES,-372.222,-384.813,POINT (-384.813 -372.222)

In [15]:
shp.plot()

NameError: name 'shp' is not defined

### 6. Create Poins

In [16]:
#calls["lat_long"] = calls[["lat", "lng"]].apply(tuple, axis=1)

In [17]:
#calls["point"] = gpd.GeoDataFrame([Point(x,y) for x, y in zip(calls['lng'], calls['lat'])])

In [18]:
#calls.head()

### 7. Columns that interest

In [19]:
columns_of_interest = ["NOME", "VAL_M2_RES", "geometry"]
regions = regions[columns_of_interest]
regions.columns = ["BAIRRO", "VAL_M2_RES", "geometry"]

In [20]:
columns_of_interest = ["number", "geometry"]
calls = calls[columns_of_interest]
calls.columns = ["TIPO", "geometry"]

In [21]:
regions.head()

,BAIRRO,VAL_M2_RES,geometry
0,PASSARE,2424.77,POLYGON ((-38.539819067859945 -3.7955371068432...
1,CAIS DO PORTO,2627.39,POLYGON ((-38.479334495231086 -3.7209126986722...
2,CIDADE 2000,2437.00,POLYGON ((-38.467647506862534 -3.7496832300526...
3,ALTO DA BALANCA,1784.38,POLYGON ((-38.51716445420212 -3.76997951516616...
4,BARRA DO CEARA,1551.97,POLYGON ((-38.56887758295916 -3.70168935573553...

In [22]:
calls.head()

   TIPO                   geometry
0     1  POINT (-385.554 -373.784)
1     2  POINT (-385.606 -383.914)
2     3  POINT (-385.778 -372.623)
3     4     POINT (-38.501 -3.795)
4     5  POINT (-384.813 -372.222)

In [23]:
calls_and_regions = gpd.sjoin(calls, regions, op="within")

AttributeError: 'str' object has no attribute 'bounds'

In [ ]:
shp.info()

<code>from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

lons_lats_vect = np.column_stack((lons_vect, lats_vect)) # Reshape coordinates
polygon = Polygon(lons_lats_vect) # create polygon
point = Point(y,x) # create point
print(polygon.contains(point)) # check if polygon contains point</code>